.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

grid-template-areas: 
"h h "
"n d";

grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr;
/*grid-gap: 10px;*/
}
.header {
grid-area: h;
background-color: rgb(247, 46, 46);
}
.header img {
width: 100px;
}
.nav {
  grid-area: n;
  background-color: rgb(6, 168, 92);
}

.content {
  grid-area: d;
  background-color: rgba(88, 182, 51, 0.822);
}

.app-wrapper-content {
    grid-area: d;
    background-color: rgba(211, 29, 105, 0.822);


    
}

.content {
  grid-area: d;
  background-color: rgba(29, 62, 211, 0.822);
}
